*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #222;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    position: relative;
    display: flex;
    width: 500px;
    height: 500px;
    /* background-color: aliceblue; */
    align-items: center;
    justify-content: center;

}
.box span{
    position: absolute;
    width: 10px;
    height: 250px;
    background: transparent;
    transform-origin: bottom;
    transform: rotate(calc(22.2deg *var(--i)));
    border-bottom: 40px solid #222;

}
.box span::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 50px;
    background: #03a9f4;
    box-shadow: 0 0 20px #03a9f4;
    border-radius: 10px;
    animation: infinity 1.5s linear infinite;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes infinity {
    0%{
        transform: translateY(160px) rotate(0deg);
        filter: hue-rotate(0deg);
    } 
    50% {
        transform: translateY(0px);
    }
    100%{
        transform: translateY(160px) rotate(360deg);
        filter: hue-rotate(360deg);
    }
}
.box span::after{
    content:'' ;
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 10px;
    background: #03a9f4;
    /* transform-origin: bottom; */
    transform: rotate(5deg);
    animation: animatenot 1.5s linear infinite;
}
@keyframes animatenot {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}
.box span i{
    position: absolute;
    width: 15px;
    height: 100px;
    background: #222;
    border-left: 2px solid #03a9f4;
    border-right: 2px solid #03a9f4;
    transform-origin: top;
    transform: rotate(79deg);
    animation: animatenot 1.5s linear infinite;
    animation :animateSide 1.5s linear infinte;
    animation-delay: calc(0.1s * var(--i));
}
@keyframes animateSide {
    0%,40%,65.1%,100%{
        background: #222;
    }
    40.1%,65%{
        background: #03a9f4;
    }
    
}


 